<div class="wrapper">
	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<a href="#" class="logo">Logo</a>
                                        <!--<img src="images/logo.jpg" class="img-responsive" alt="Fertinvest Logo" />-->
				</div>
			</div>
		</div>
	</header>
	<div class="fert-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-9 no-padding">
					<div id="map-holder"></div>
				</div>
				<div class="col-xs-12 col-sm-3 no-padding map-right">
					<div class="map-search">					
						<form>
                                                    <div class="col-xs-12">
                                                        <select class="form-control">
                                                            <option value="0">Search Option</option>
                                                            <option value="1">Search By College</option>
                                                            <option value="2">Search By District</option>
                                                        </select>
                                                    </div>					
						</form>
					</div>
					<div class="map-res-header">
						<h2 class="result-header">Result</h2>
					</div>					
					<div class="map-res-info">
						<h3>Company Name:</h3>
						<p>ABCDEF</p>
						<h3>Phone No.:</h3>
						<p>xxx-xxx-xxxx</p>
						<h3>Contact Person:</h3>
						<p>ABCDEF</p>
						<h3>Hectares:</h3>
						<p>400</p>
						<h3>Comments:</h3>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
<p class="copyright">Copyright &copy; 2016 - fertinvest</p>
</footer>